[Unit]
Description=LibreTranslate
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/root/LibreTranslate/env/bin/python3 /root/LibreTranslate/main.py

[Install]
WantedBy=multi-user.target